@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.shiki {
    @apply rounded border;
}

.table-of-contents {
    @apply rounded border;
}

.table-of-contents a {
    @apply no-underline;
}

.table-of-contents a:hover {
    @apply underline;
}

.heading-permalink {
    @apply no-underline opacity-20;
}

.heading-permalink:hover {
    @apply opacity-40;
}

#post img {
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    #post img {
        max-width: 500px;
        max-height: 500px;
    }
}

.popup {
    transition: all .3s ease-in-out;
    transform: scale(100%);
    opacity: 1;
}

.shrink {
    transform: scale(115%);
    opacity: 0.3;
}
