@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
        local('Rubik Light'),
        url('../fonts/Rubik-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src:
        local('Rubik Light Italic'),
        url('../fonts/Rubik-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local('Rubik Regular'),
        url('../fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
        local('Rubik Italic'),
        url('../fonts/Rubik-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local('Rubik Bold'),
        url('../fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src:
        local('Rubik Italic'),
        url('../fonts/Rubik-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
        local('Bitter Light'),
        url('../fonts/Bitter-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src:
        local('Bitter Light Italic'),
        url('../fonts/Bitter-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local('Bitter Regular'),
        url('../fonts/Bitter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
        local('Bitter Italic'),
        url('../fonts/Bitter-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local('Bitter Bold'),
        url('../fonts/Bitter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src:
        local('Bitter Italic'),
        url('../fonts/Bitter-BoldItalic.ttf') format('truetype');
}

[x-cloak] {
    display: none !important;
}

.shiki {
    @apply rounded border;
}

.table-of-contents {
    @apply rounded border;
}

.table-of-contents a {
    @apply no-underline;
}

.table-of-contents a:hover {
    @apply underline;
}

.heading-permalink {
    @apply no-underline opacity-20;
}

.heading-permalink:hover {
    @apply opacity-40;
}

#post img {
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    #post img {
        max-width: 500px;
        max-height: 500px;
    }
}

.popup {
    transition: all 0.3s ease-in-out;
    transform: scale(100%);
    opacity: 1;
}

.shrink {
    transform: scale(115%);
    opacity: 0.3;
}

.main-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    transform: translateY(-65px);
}

@media (min-width: 390px) {
    .main-img {
        transform: translateY(-30px);
    }
}

@media (min-width: 420px) {
    .main-img {
        transform: translateY(0);
    }
}

@media (min-width: 1024px) {
    .main-img {
        height: 100%;
    }
}
